{% extends 'base.html.twig' %}

{% block body %}
    {% block hero %}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra dignissim mi, eget egestas mi tincidunt vitae. Nunc nulla neque, sodales at rhoncus eget, pulvinar quis orci. Nulla facilisi.</p>
    {% endblock %}

    {% block content %}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra dignissim mi, eget egestas mi tincidunt vitae. Nunc nulla neque, sodales at rhoncus eget, pulvinar quis orci. Nulla facilisi. Nam vel orci nec augue scelerisque lacinia. Phasellus pellentesque leo nulla. Ut neque urna, ultricies eu tincidunt at, mollis sagittis dui. Suspendisse ac diam sed lectus mollis dapibus. Donec dui ipsum, scelerisque at rutrum ac, molestie sed ex. Praesent congue laoreet justo at porttitor. Vestibulum non rutrum tortor, ut laoreet libero. Vivamus ut neque at odio finibus venenatis.</p>
    {% endblock %}
{% endblock %}