:root {
  --color-primary: #0F53D4;
  --color-primary-20: rgba(0, 45, 203, .2);
  --color-primary-10: rgba(0, 45, 203, .1);
  --color-bg: #F7F7F7;
  --color-light: #fff;
}

:root {
  --font-primary: "GeneralSans-Variable";
}

@font-face {
  font-family: "GeneralSans-Variable";
  src: url("fonts/GeneralSans-Variable.woff2") format("woff2"), url("fonts/GeneralSans-Variable.woff") format("woff"), url("fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  text-align: left;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0.1rem;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

abbr[title], abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol, ul, dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b, strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

sub, sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: 0;
}

sup {
  top: -0.5em;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  text-underline-offset: 0.3rem;
  -webkit-text-decoration-skip: objects;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre, code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img,
video {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

svg:not(:root) {
  display: block;
  overflow: hidden;
}

a, area, button, [role=button], input:not([type=range]), label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label, button, input, select {
  cursor: pointer;
}

label {
  display: inline-block;
}

button {
  background: none;
  border: 0;
  border-radius: 0;
  text-underline-offset: 0.3rem;
}

input, button, select, optgroup, textarea {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio], input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

iframe {
  border: 0;
}

iframe {
  transform: scale(1);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 480;
  line-height: 1.75;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  overflow-x: clip;
  background: var(--color-light);
}

.hidden {
  display: none;
}

.main {
  display: flex;
  position: fixed;
  inset: 0;
}

header {
  position: relative;
}

.main__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - var(--offset-left));
}

.main__inner {
  flex: 1;
}

.main__sidebar {
  flex-shrink: 0;
  background: var(--color-bg);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.main__sidebar_nav {
  padding: 0 0 0 1.5rem;
}
.main__sidebar_nav > ul > li {
  padding: 0.5rem 0;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem;
}

[aria-controls=sub-menu-1] {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 480;
}
[aria-controls=sub-menu-1] svg {
  position: absolute;
  left: -1.6rem;
}
[aria-controls=sub-menu-1] svg {
  width: 1.4rem;
}

.sub-menu-2 > ul, .sub-menu-1 > ul {
  padding-left: 0.8rem;
}

.menu_item.active {
  padding: 0 0.8rem;
  background: var(--color-primary);
  color: var(--color-light);
  border-radius: 0.4rem;
  margin: 0.2rem 0;
  position: relative;
  left: -0.8rem;
}

.rotate-90 {
  transform: rotate(90deg);
}

.resize {
  --resize-size: 0.20;
  --resizer-size: 1px;
  display: flex;
}
.resize[data-resize-orientation-value=horizontal] {
  flex-direction: row;
}
.resize[data-resize-orientation-value=horizontal] > [data-resize-target=panelA] {
  width: calc(var(--resize-size) * 100% - var(--resizer-size) / 2);
}
.resize[data-resize-orientation-value=horizontal] > [data-resize-target=panelB] {
  width: calc((1 - var(--resize-size)) * 100% - var(--resizer-size) / 2);
}
.resize[data-resize-orientation-value=vertical] {
  flex-direction: column;
}
.resize[data-resize-orientation-value=vertical] > [data-resize-target=panelA] {
  height: calc(var(--resize-size) * 100% - var(--resizer-size) / 2);
}
.resize[data-resize-orientation-value=vertical] > [data-resize-target=panelB] {
  height: calc((1 - var(--resize-size)) * 100% - var(--resizer-size) / 2);
}

.resize__panel {
  position: relative;
}

.resizer {
  position: relative;
  flex-shrink: 0;
  z-index: 99;
}
.resizer:before {
  content: "";
  position: absolute;
  background: var(--color-primary-20);
  opacity: 0;
}
.resizer:after {
  content: "";
  position: absolute;
}
[data-resize-orientation-value=horizontal] > .resizer {
  width: var(--resizer-size);
  height: 100%;
  margin-left: calc(var(--resizer-size) * -0.5);
  cursor: col-resize;
}
[data-resize-orientation-value=horizontal] > .resizer:before {
  left: 50%;
  width: 3px;
  height: 100%;
  margin-left: -1.5px;
}
[data-resize-orientation-value=horizontal] > .resizer:after {
  left: 50%;
  width: 6px;
  height: 100%;
  margin-left: -3px;
}
[data-resize-orientation-value=vertical] > .resizer {
  height: var(--resizer-size);
  width: 100%;
  margin-top: calc(var(--resizer-size) * -0.5);
  cursor: row-resize;
}
[data-resize-orientation-value=vertical] > .resizer:before {
  top: 50%;
  height: 3px;
  width: 100%;
  margin-top: -1.5px;
}
[data-resize-orientation-value=vertical] > .resizer:after {
  top: 50%;
  height: 6px;
  width: 100%;
  margin-top: -3px;
}
.resizer:hover:before, [data-resize-is-resizing-value=true] > .resizer:before {
  opacity: 1;
}

[data-resize-orientation-value=horizontal] > .resizer__large:before {
  width: 10px;
  margin-left: -5px;
}
[data-resize-orientation-value=horizontal] > .resizer__large:after {
  width: 15px;
  margin-left: -7.5px;
}
[data-resize-orientation-value=vertical] > .resizer__large:before {
  height: 10px;
  margin-top: -5px;
}
[data-resize-orientation-value=vertical] > .resizer__large:after {
  height: 15px;
  margin-top: -7.5px;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 0 2rem;
  border-bottom: 0.1rem solid var(--color-primary-10);
  border-top: 0.1rem solid var(--color-primary-10);
}

.tabs__item {
  display: flex;
}

.tabs__item_link {
  align-self: stretch;
  padding: 1rem 0;
}

.tab-is-unactive {
  border-bottom: 0.1rem solid transparent;
}
.tab-is-unactive:hover {
  color: var(--color-primary);
}

.tab-is-active {
  color: var(--color-primary);
  border-bottom: 0.1rem solid var(--color-primary);
}

.actions {
  display: flex;
  gap: 1rem;
  padding: 0 3rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
}

.actions_item {
  position: relative;
}
.actions_item:hover span {
  transform: translate(-50%, 30%);
  opacity: 1;
  visibility: visible;
}
.actions_item svg {
  width: 1.8rem;
  height: 1.8rem;
}
.actions_item span {
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  visibility: hidden;
  font-size: 1.2rem;
  line-height: 1.2rem;
  position: absolute;
  border-radius: 99rem;
  padding: 0.4rem 0.6rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
  background: #000;
  transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.2s;
  color: var(--color-light);
  text-wrap: nowrap;
}

.actions_separator {
  width: 0.1rem;
  height: 1.4rem;
  background: var(--color-primary-20);
  margin: 0 0.4rem;
}

.code {
  overflow: scroll;
}
.code pre {
  margin: 0;
  padding: 1rem;
}

.code pre::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}
.code pre::-webkit-scrollbar {
  height: 0.2rem;
  width: 2rem;
  background-color: var(--color-primary-20);
}
.code pre::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

.group {
  position: relative;
  padding: 2rem;
}
.group:hover .copy--link {
  transform: translateX(0);
}

.copy--link {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  color: var(--color-light);
  font-size: 1.4rem;
  gap: 0.4rem;
  transition: all ease-in-out 0.2s;
  transform: translateX(5rem);
}
.copy--link svg {
  width: 2rem;
  fill: var(--color-light);
}

.view {
  display: flex;
}

.view__content {
  width: 100%;
  position: relative;
}
.view__content iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

pre, code {
  color: #24292e;
  background-color: #fff;
}

.hl-keyword {
  color: #d73a49;
}

.hl-property {
  color: #34A853;
}

.hl-attribute {
  font-style: italic;
}

.hl-type {
  color: #EA4334;
}

.hl-generic {
  color: #9d3af6;
}

.hl-value {
  color: #032f62;
}

.hl-variable {
  color: #e36209;
}

.hl-comment {
  color: #6a737d;
}

.hl-blur {
  filter: blur(2px);
}

.hl-strong {
  font-weight: bold;
}

.hl-em {
  font-style: italic;
}

.hl-addition {
  display: inline-block;
  min-width: 100%;
  background-color: rgba(0, 255, 0, 0.1333333333);
}

.hl-deletion {
  display: inline-block;
  min-width: 100%;
  background-color: rgba(255, 0, 0, 0.0666666667);
}

.hl-gutter {
  display: inline-block;
  font-size: 0.9em;
  color: #555;
  padding: 0 1ch;
}

.hl-gutter-addition {
  background-color: #34A853;
  color: #fff;
}

.hl-gutter-deletion {
  background-color: #EA4334;
  color: #fff;
}