.resizer {
  position: relative;
  flex-shrink: 0;
  z-index: 99;

  &:before {
    content: "";
    position: absolute;
    background: var(--color-primary-20);
    opacity: 0;
  }

  &:after {
    content: "";
    position: absolute;
  }

  [data-resize-orientation-value="horizontal"] > & {
    width: var(--resizer-size);
    height: 100%;
    margin-left: calc(var(--resizer-size) * -0.5);
    cursor: col-resize;

    &:before {
      left: 50%;
      width: 3px;
      height: 100%;
      margin-left: -1.5px;
    }

    &:after {
      left: 50%;
      width: 6px;
      height: 100%;
      margin-left: -3px;
    }
  }

  [data-resize-orientation-value="vertical"] > & {
    height: var(--resizer-size);
    width: 100%;
    margin-top: calc(var(--resizer-size) * -0.5);
    cursor: row-resize;

    &:before {
      top: 50%;
      height: 3px;
      width: 100%;
      margin-top: -1.5px;
    }

    &:after {
      top: 50%;
      height: 6px;
      width: 100%;
      margin-top: -3px;
    }
  }

  &:hover,
  [data-resize-is-resizing-value="true"] > & {
    &:before {
      opacity: 1;
    }
  }
}

.resizer__large {
  [data-resize-orientation-value="horizontal"] > & {
    &:before {
      width: 10px;
      margin-left: -5px;
    }

    &:after {
      width: 15px;
      margin-left: -7.5px;
    }
  }

  [data-resize-orientation-value="vertical"] > & {
    &:before {
      height: 10px;
      margin-top: -5px;
    }

    &:after {
      height: 15px;
      margin-top: -7.5px;
    }
  }
}
