.main {
    display: flex;
    position: fixed;
    inset: 0;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .1rem solid var(--color-primary-10);
}

.main__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - var(--offset-left));
}

.main__inner {
    flex: 1;
}

[data-resize-target="panelB"] {
    display: flex;
    flex-direction: column;
}

.main__inner_header {
    border-bottom: .1rem solid var(--color-primary-10);
    border-top: .1rem solid var(--color-primary-10);
}

.main__inner_content {
    flex-grow: 1;
    overflow: auto;
}