.main__sidebar {
  flex-shrink: 0;
  background: var(--color-bg);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  overflow-y: auto;
}

.main__sidebar_nav {
  padding: 0 0 0 1.5rem;

  ul {

    > li {

      > a {
        margin-left: 1.6rem;
      }

      > button {
        margin-left: 1rem;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem;
}

[aria-controls="sub-menu-1"] {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 480;

  svg {
    position: absolute;
    width: 1.4rem;
    left: -1.6rem;
  }
}

.sub-menu-2, .sub-menu-1 {

  > ul {
    padding-left: 1.6rem;
  }
}

.menu_item {

  &.active {
    padding: 0 .8rem;
    background: var(--color-primary);
    color: var(--color-light);
    border-radius: .4rem;
    margin: .2rem 0;
    position: relative;
    left: -.8rem;
  }
}

.rotate-90 {
  transform: rotate(90deg);
}