.tabs {
  display: flex;
  align-items: center;
  padding: .6rem 2rem .4rem 2rem;
  overflow-x: scroll;
}

.tabs::-webkit-scrollbar-track {
  background-color: #fff;
}

.tabs::-webkit-scrollbar {
  height: .2rem;
  width: 2rem;
  background-color: var(--color-primary-20);
}

.tabs::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

.tabs__item {
  display: flex;
  flex-shrink: 0;
  
}

.tabs__item_link {
  align-self: stretch;
  padding: .4rem 2rem;
  border-radius: 99rem;
}

.tab-is-unactive {

  &:hover {
    color: var(--color-primary);
  }
}

.tab-is-active {
  color: var(--color-primary);
  background-color: var(--color-bg);
}