.resize {
  --resize-size: 0.20;
  --resizer-size: 1px;

  display: flex;

  &[data-resize-orientation-value="horizontal"] {
    flex-direction: row;

    > [data-resize-target="panelA"] {
      width: calc(var(--resize-size) * 100% - var(--resizer-size) / 2);
    }
    > [data-resize-target="panelB"] {
      width: calc((1 - var(--resize-size)) * 100% - var(--resizer-size) / 2);
    }
  }

  &[data-resize-orientation-value="vertical"] {
    flex-direction: column;

    > [data-resize-target="panelA"] {
      height: calc(var(--resize-size) * 100% - var(--resizer-size) / 2);
    }
    > [data-resize-target="panelB"] {
      height: calc((1 - var(--resize-size)) * 100% - var(--resizer-size) / 2);
    }
  }
}

.resize__panel {
  position: relative;
}