<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Arqui bundle</title>

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>

    <body>
        {% block body %}
            {{ component.currentVariant.htmlContent|raw }}
        {% endblock %}
    </body>
</html>