{% props icon = null %}

<button {{ attributes.defaults({ class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' }) }}>
    {% if icon is not null and icon.position|default == 'left' %}
        {{ icon.svg|raw }}
    {% endif %}
    {%- block content -%}{%- endblock -%}
    {% if icon is not null and icon.position|default == 'right' %}
        {{ icon.svg|raw }}
    {% endif %}
</button>