.btn {
    text-decoration: none;
    font-weight: 450;
    border-radius: 99rem;
    transition: all ease-in-out .2s;
    display: inline-flex;
    align-items: center;
    gap: .6rem;

    &.btn--primary {
        background: var(--primary);
        color: #fff;

        &:hover {
            background: var(--primary-80);
        }
    }

    &.btn--secondary {
        background: #F3F3F3;
        color: var(--title);

        &:hover {
            background: #E3E3E3;
        }
    }

    &.btn--large {
        padding: 1.4rem 1.8rem;
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

    &.btn--small {
        padding: 1rem 1.4rem;
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
}